body {
  font-family: "Ubuntu", sans-serif;
}
.title-box {
  background: #f7a9a8;
  padding: 15px;
}
.patient-box {
  background: #f0ebed;
}
.patient-info {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.administered {
  color: #48bf84;
}
.upcoming {
  color: #fac05e;
}
h4 {
  font-size: 1rem;
}
h2 {
  text-transform: lowercase;
  font-weight: bold;
}
